.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}

/* Computer and Tablet */
@media screen and (min-width: 1000px) {
  .content-container {
    max-width: 1000px;
  }
}

/* Mobile */
@media screen and (max-width: 1000px) {
  .content-container {
    max-width: 90vw;
  }
}

.content-container > * {
  margin-top: 3vh;
}

.hidden {
  visibility: hidden;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}
